html, body {
    height: 100%;
}

.promo i {
    font-size: 7rem;
    color: #ff6e40;
}

.promo p {
    font-size: 1.2rem;
}

.promo-titulo {
    font-size: 1.2rem;
    font-weight: bold;
}

h2 {
    /*color: #ff6e40;*/
    /*color: #26a69a;*/
}

.nav-wrapper span, .nav-wrapper ul li a {
    color: #FF9E80;
}

.footer-copyright {
    overflow: hidden;
    height: 55px;
    line-height: 50px;
    color: #ff6e40;
}

li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;
}